<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <

        <table class="step">
            <thead>
                <tr>
                    <th>Bước 1</th>
                    <th>Bước 2</th>
                    <th>Bước 3</th>
                </tr>
                <tr>
                    <td>Nhập thông tin cá nhân</td>
                    <td>Thanh toán</td>
                    <td>Hoàn tất mua hàng</td>
                </tr>
            </thead>
        </table>
    
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
