@model IEnumerable<GioHanglt.Models.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>DANH SÁCH SẢN PHẨM</h2>
<div class="container">

    <div class="row">

        @foreach (var pro in Model)
        {
            <div class="col-sm-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card-pro">

                    <p>@Html.DisplayFor(model => pro.ProductID)</p>

                    <img src="@Url.Content(pro.Image_Pro)" height="150" width="150" />

                    <p>@Html.DisplayFor(model => pro.NamePro)</p>

                    <p>@Html.DisplayFor(model => pro.Price)</p>

                    <a hret="/ShoppingCart/AđToCart/@pro.ProductID" class="btn btn-default">Buy</a>

                </div>

            </div>
            }
    </div>
</div>